body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

nav li {
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.project-card {
    width: 300px;
    /* or whatever width you prefer */
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.project-card h3 {
    margin-top: 15px;
}

.project-card p {
    font-size: 0.9em;
    line-height: 1.6;
    color: #666;
}

.project-card .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.project-card .btn:hover {
    background-color: #0056b3;
}


#projects {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#projects.visible {
    display: block;
    opacity: 1;
}


/* Add more styling as needed */